/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Muli&display=swap");

.banner-img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.card-img-size {
    height: 300px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 10px;
}

.img-size {
    height: 300px;
    -o-object-fit: cover;
    object-fit: cover;
    border: 1px solid #243119;
    border-radius: 10px;
}

.error-img {
    height: auto;
    width: 100%;
}

/* ------------ Text color */

.tagline,
.flash-prompts h5,
.form-header,
.restaurant-card-title,
.form-instructions,
.form-instructions a,
.restaurant-card-text,
.page-title,
.page-subtitle,
.review-card-title,
.profile-search-prompt,
.profile-search-prompt a,
.profile-subheading,
.admin-profile-text,
.admin-profile-text a,
.no-review-text,
.no-review-text a,
.btn-warning a,
.btn-warning i {
    color: #243119;
}

#logo,
#navbar-menu-items a,
.footer-text,
.footer-icons i,
.btn-success a,
.btn-danger a,
.btn-danger i,
.footer-socials {
    color: #e0e0e0;
}

/* ------------ Fonts */

#logo,
.tagline,
.form-header,
.restaurant-card-title,
.review-card-title,
.page-title,
.page-subtitle,
.profile-subheading {
    font-family: "Lobster", sans-serif;
}

.nav-menu a,
.footer-text,
.flash-prompts h5,
.form-instructions,
.form-instructions a,
.restaurant-card-text,
.profile-search-prompt,
.admin-profile-text,
.no-review-text,
.no-review-text a {
    font-family: "Muli", sans-serif;
}

/* -- HEADER/FOOTER color -- */
.navbar-style,
.footer {
    background-color: #629490;
}

/* -- NAVBAR -- */
.navbar {
    padding: 0;
}

/* ------------ Logo */
#logo {
    font-size: 2rem;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    padding-left: 20px;
}

/* ------------ Menu items */
.navbar-style .nav-menu {
    padding-right: 20px;
}

.nav-menu a {
    font-size: 1.2rem;
}

.nav-menu li {
    padding: 8px 12px;
}

/* ------------ HOVER FUNCTION */
#navbar-menu-items a:hover,
#logo a:hover,
.footer-icons i:hover,
.footer-icons i:focus {
    color: #243119;
}

.socials i:hover {
    color: #e0e0e0;
}

.form-instructions a:hover {
    text-decoration: underline;
    text-underline-position: under;
}

.profile-search-prompt a:hover,
.no-review-text a:hover {
    text-decoration: none;
}

/* ------------ Menu items active */
/* poss remove?
.nav-menu .active {
    text-decoration: underline;
    text-underline-position: under;
    text-shadow: none;
}*/

/* -- FOOTER -- */
.footer {
    padding: 20px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 72px;
}

/* ------------ Sticky footer */
.content {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  .content-main {
    flex: 1;
  }

/* ------------ All footer text */
.footer-text,
.admin-profile-text {
    font-size: 1.2rem;
}

/* ------------ Footer icons */
.footer-icons i {
    font-size: 1.6rem;
}

.social-links a {
    text-decoration: none;
}

/* ------------ Footer placement */
.footer-nav-links {
    margin: 0;
}

.footer-nav-links li {
    padding: 0 2px 0;
}

.footer-socials,
.socials {
    padding: 0 10px 0;
}

/* ------------ SUBHEADERS */
.tagline {
    padding: 20px 6px;
    font-size: 2.4rem;
    background-color: rgba(224, 224, 224, 0.5);
    border-radius: 10px;
    text-align: center;
}

.flash-prompts h5 {
    line-height: 3;
    background-color: #96be8c;
    text-align: center;
}

.page-subtitle {
    padding: 10px 0;
    margin-bottom: 16px;
    text-align: center;
    font-size: 2.4rem;
    background-color: #96be8c;
    border: 2px solid #e0e0e0;
    border-radius: 10px;
    text-align: center;
}

.profile-subheading {
    margin: 0 0 40px;
    font-size: 2rem;
    text-align: center;
}

.admin-profile-text {
    text-align: center;
}

.admin-profile-text a {
    text-decoration: underline;
    text-underline-position: under;
}

/* -- CARDS FOR RESTAURANTS -- */

.restaurant-card-style {
    border: 2px solid #243119;
    border-radius: 10px;
    background-color: rgba(224, 224, 224, 0.5);
}

.restaurant-card-style a {
    text-decoration: none;
}

.info-card-cols {
    padding: 50px 20px;
}

.card-info-group {
    padding: 10px;
}

.review-card-style {
    border: 2px solid #e0e0e0;
    border-radius: 10px;
    background-color: #96be8c;
}

.restaurant-card-text {
    margin: 0;
    padding: 10px 10px 0 10px;
    /* Many thanks to css-tricks.com for their info on line-clamp */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.view-rest-socials {
    margin: 0;
    padding: 10px;
}

.view-rest-scoop-title {
    margin-bottom: 0;
}

.view-rest-text {
    margin: 0;
    padding: 0px 10px;
    /* Many thanks to css-tricks.com for their info on line-clamp */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.view-rest-text-col {
    padding: 0 20px 0;
}

/* -- FORMS -- */
.form-container {
    margin: 52px;
    padding: 20px 20px;
    border: 2px solid #243119;
    border-radius: 10px;
    background-color: rgba(224, 224, 224, 0.5);
}

.form-header,
.restaurant-card-title {
    padding-top: 10px;
    text-align: center;
}

.form-instructions,
.form-instructions a {
    text-decoration: none;
}

.form-instructions p {
    padding-top: 14px;
    text-align: center;
}

.page-title {
    margin: 30px 0;
    font-size: 2.4rem;
    text-align: center;
    text-decoration: underline;
    text-underline-position: under;
}

.restaurant-card-title {
    font-size: 1.6rem;
}

.review-card-title {
    font-size: 18px;
}

.form-switch {
    margin-top: 14px;
}

/* -------------------- Add a review/restaurant page -- */
.review-form {
    margin: 40px 20px;
}

.custom-select {
    margin: 10px 0 0 12px;
}

.review-form-items {
    margin-top: 14px;
}

.form-control {
    margin-top: 10px;
}

.profile-search-prompt {
    margin: 50px 0;
    text-align: center;
}

.no-review-text {
    padding-bottom: 20px;
    font-size: 20px;
    text-align: center;
}

.profile-search-prompt a,
.no-review-text a {
    text-decoration: underline;
    text-underline-position: under;
}

.view-rest-reviews-card {
    padding: 0 10px;
}

.restaurant-review-info {
    padding-left: 30px;
}

/* --- VIEW_RESTAURANT STYLES -- */

.restaurant-scoop-card,
.restaurant-contact-card,
.restaurant-info-card {
    text-align: center;
}

.info-card-margin {
    margin-top: 16px;
}

.restaurant-info-card,
.img-margins {
    margin-bottom: 16px;
}

.view-rest-reviews-card,
.restaurant-scoop-card,
.restaurant-contact-card,
.restaurant-info-card {
    background-color: white;
    border: 1px solid #243119;
    border-radius: 10px;
}

.restaurant-contact-card i,
.restaurant-info-card i {
    padding-right: 10px;
}

.socials i {
    font-size: 1.75rem;
    color: #243119;
}

/* --- BUTTONS -- */

.profile-btn {
    margin: 40px 0;
    border: 2px solid #e0e0e0;
    border: 2px solid #e0e0e0;
}

.restaurant-edit-btn {
    margin: 40px 30px 40px 0;
}

.form-button {
    margin-bottom: 10px;
    background-color: #96be8c;
    border: 2px solid #a0c497;
}

.profile-btn a,
.restaurant-edit-btn a {
    text-decoration: none;
}

/* --- MODALS -- */

.modal-content {
    border: 2px solid #e0e0e0;
}

.modal-header {
    background-color: #96be8c;
}

.modal-footer {
    background-color: #e0e0e0;
}

.modal-btn {
    margin: 40px 6px;
    border: 1px solid #e0e0e0;
}

/* --- 404 page -- */

.error-text {
    text-align: center;
    font-family: "Muli", sans-serif;
    color: #243119;
}

/* --------- Media Queries ----------*/

@media (min-width: 311px) and (max-width: 540px) and (orientation:portrait) {
    /*----------Footer--------*/
    .footer {
        height: 138px;
    }

    .mobile-padding {
        padding: 10px 0 10px;
    }

    .footer-icons {
        padding-bottom: 20px;
    }
}