@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Muli&display=swap");


.navbar-style {
    background-color: #629490;
}

.navbar {
    padding: 0;
}

.navbar-style h1 {
    font-family: Lobster;
    font-size: 3.4rem;
    color: #e0e0e0;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    padding-left: 20px;
}

.navbar-style .nav-menu {
    padding-right: 20px;
}

.nav-menu a {
    font-family: Muli;
    font-size: 1.4rem;
    color: #e0e0e0;
}

.nav-menu li {
    padding: 8px 12px;
}

.nav-menu a:hover {
    color: #243119;
}

.nav-menu .active {
    text-decoration: underline;
    text-underline-position: under;
    text-shadow: none;
}

h2 {
    font-family: Lobster;
    
}