<div class="btn page-subtitle" for="btn-check-3">Admin Account</div>
    
    <div class="row g-0 justify-content-center ">
        <h4 class="page-subtitle profile-subheading">User messages</h4>
    </div>
        {% for message in messages %}
            {% include "message_card.html" %}
        {% endfor %}
    </div>


    <div class="row g-0 justify-content-center ">
        <h4 class="page-subtitle profile-subheading">Add a Restaurant</h4>
    </div>  
    <div class="row g-0 justify-content-center">
        <a href="{{ url_for('add_restaurant') }}" class="btn btn-success profile-btn col-sm-2">
            <i class="fas fa-plus-circle"></i> 
            Add a Restaurant
        </a>
    </div>

    <div class="row g-0 justify-content-center ">
        <h4 class="page-subtitle profile-subheading">Edit a Restaurant</h4>
    </div>  
    <div class="row g-0 justify-content-center">
        <a href="#" class="btn btn-warning profile-btn col-sm-2">
            <i class="fas fa-plus-circle"></i> 
            Edit a Restaurant
        </a>
    </div>

    <div class="row g-0 justify-content-center">
        <h4 class="page-subtitle profile-subheading">Delete a Restaurant</h4>
    </div>
    
    <div class="row g-0 justify-content-center">
        <button class="btn btn-danger profile-btn col-sm-2"><i class="fas fa-trash"></i> Delete a Restaurant</button>
    </div>

</div>