<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>veganGlasgow</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous" />
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid navbar-style">
            <a class="navbar-brand" href="{{ url_for('get_home') }}">
                <h1 id="over-green-color">vegan Glasgow</h1>
              </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-lg-flex justify-content-end nav-menu" id="navbarNav">
              <ul id="over-green-color" class="navbar-nav">
                <li class="nav-item">
                  <a id="over-green-color" class="nav-link active" aria-current="page" href="{{ url_for('get_home') }}">Home</a>
                </li>
                <li class="nav-item">
                  <a id="over-green-color" class="nav-link" href="#">Restaurants</a>
                </li>
                <li class="nav-item">
                  <a id="over-green-color" class="nav-link" href="{{ url_for('create_account') }}">Create Account</a>
                </li>
                <li class="nav-item">
                  <a id="over-green-color" class="nav-link" href="{{ url_for('login') }}">Log In</a>
                </li>
                <li class="nav-item">
                  <a id="over-green-color" class="nav-link" href="{{ url_for('user_profile', username=session['user']) }}">My Profile</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <div class="d-flex justify-content-center align-items-end">
          <img class="banner-img" src="{{ url_for('static', filename='images/glasgow-clyde.jpeg') }}" alt="">
        </div>
        <h2 class="tagline">Vegan recommendations for Glasgows lively culinary scene.</h2>
    </header>

    <section>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <div class="row g-0 flash-prompts">
              <h5>{{ message }}</h5>
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </section>

    <main class="container">
      {% block content %}

      {% endblock %}
    </main>

    <footer class="footer row g-0">
          <div class="col-md-3 d-flex justify-content-center align-items-center">
            <span id="over-green-color" class="footer-text"><i class="far fa-copyright"></i> Copyright 2021</span>
          </div>
          <div class="col-md-3 d-flex justify-content-center align-items-center">
            <ul id="over-green-color" class="list-inline footer-nav-links">
              <li class="list-inline-item footer-text"><a id="over-green-color" href="#">Restaurants</a></li>
              <li class="list-inline-item footer-text"><a id="over-green-color" href="{{ url_for('create_account') }}">Create Account</a></li>
              <li class="list-inline-item footer-text"><a id="over-green-color" href="{{ url_for('login') }}">Log In</a></li>
            </ul>
          </div>
          <div class="col-md-3 d-flex justify-content-center align-items-center">
            <span>
              <a id="over-green-color" href="#"><i class="fas fa-comment"></i></a>
            </span>
          </div>
          <div class="col-md-3 d-flex justify-content-center align-items-center">
            <span id="over-green-color">
              <a id="over-green-color" class="socials" href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i></a>
              <a id="over-green-color" class="socials" href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
              <a id="over-green-color" class="socials" href="https://twitter.com/"><i class="fab fa-twitter-square"></i></a>
            </span>
          </div>

    </footer>

      
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>