{% extends "base.html" %}

{% block content %}
<!-- Page title -->
<h2 class="page-title">Edit a Review</h2>

<!-- Container for form -->
<div class="form-container">
    <!-- Add review form -->
    <form class="review-form" method="POST" action="{{ url_for('edit_review', review_id=review._id) }}">
        <!-- Select restaurant to review -->
        <div class="row">
            <label class="form-instructions review-form-items" for="restaurant_name">
                Which restaurant will you review?
            </label>
            <!-- Select restaurant dropdown -->
            <select class="custom-select form-spacing col-sm-4" id="restaurant_name" name="restaurant_name" required>
                <option class="form-instructions" disabled>Select restaurant</option>
                <!-- Select restaurant iteration for dropdown -->
                {% for restaurant in restaurants %}
                    {% if restaurant.name == review.restaurant_name %}
                    <option value="{{ restaurant.name }}" selected>
                        {{ restaurant.name }}
                    </option>
                    {% else %}
                        <option value="{{ restaurant.name }}" disabled>
                            {{ restaurant.name }}
                        </option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <!-- Restaurant rating -->
        <div class="row">
            <label class="form-instructions review-form-items" for="restaurant_rating">
                How would you rate this restaurant?
            </label>
            <!-- Restaurant rating dropdown -->
            <select class="custom-select form-spacing col-sm-4 review-form-items" id="restaurant_rating" name="restaurant_rating" required>
                <option class="form-instructions" value="{{ review.restaurant_rating }}" disabled selected>
                    {{ review.restaurant_rating }} or choose a new rating</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        <!-- Restaurant review body -->
        <div class="form-group">
            <label class="form-instructions review-form-items form-spacing" for="review">What do you think?</label>
            <textarea type="text" class="form-control form-spacing" id="review" name="review"  
            placeholder="Tell us your highs and lows..." required>
            {{- review.review -}}
            </textarea>
        </div>
        <!-- Restaurant review buttons submit and cancel -->
        <button type="submit" class="btn btn-success review-form-items">Edit My Review</button>
        <a href="{{ url_for('user_profile', username=session['user']) }}" 
        class="btn btn-danger review-form-items">Cancel</a>
    </form>
    <!-- end of form -->
</div>
<!-- end of container -->

{% endblock %}