<div class="card restaurant-card-style">
    <!-- Link to individual restaurant page -->
    <a href="{{ url_for('view_restaurant', restaurant_id=restaurant._id) }}">
    <!-- Restaurant img -->
        <img src="{{ restaurant.restaurant_img_url }}" class="card-img-top card-img-size img-fluid" onerror="this.src='static/images/veggie_bowl.jpeg'" 
        alt="{{ restaurant.name }}">
        <div class="card-info-group">
            <!-- Restaurant name -->
            <h5 class="restaurant-card-title"> {{ restaurant.name }}</h5>
            <!-- Restaurant website address -->
            <p class="restaurant-card-text"> {{ restaurant.website }}</p>
            <!-- Restaurant telephone number -->
            <p class="restaurant-card-text">
                <i class="fas fa-phone-alt rest-card-spacing"></i> {{ restaurant.phone_number }}</p>
            <!-- Restaurant address -->
            <p class="restaurant-card-text">
                <i class="fas fa-map-marker-alt rest-card-spacing"></i> {{ restaurant.address }}</p>
            <!-- Restaurant price range -->
            <p class="restaurant-card-text">
                <i class="fas fa-money-bill rest-card-spacing"></i> {{ restaurant.price_range }}</p>
            <!-- Restaurant cuisine -->
            <p class="restaurant-card-text">
                <i class="fas fa-utensils rest-card-spacing"></i> {{ restaurant.cuisine }}</p>
            <!-- Restaurant opening times -->
            <p class="restaurant-card-text">
                <i class="fas fa-clock rest-card-spacing"></i> {{ restaurant.open_times }}</p>
            <!-- Restaurant summary -->
            <h6 class="restaurant-card-title">The Scoop...</h6>
            <p class="restaurant-card-text"> {{ restaurant.summary }}</p>
        </div>
    </a>
</div>