{% extends "base.html" %}
{% block content %}

    <div class="row g-0 form-container">
        <div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2">
            <h3 class="form-header">Log In</h3>
        </div>
        <form class="col-md-6 offset-md-3 col-sm-8 offset-sm-2" method="POST" action="{{ url_for('login') }}">
            <div class="mb-3">
                <label for="username" class="form-label form-instructions"><i class="fas fa-user-cog"></i>  Username</label>
                <input type="text" class="form-control" id="username" name="username" aria-describedby="usernameHelp" required>
              </div>
              <div class="mb-3">
                <label for="password" class="form-label form-instructions"><i class="fas fa-user-lock"></i> Password</label>
                <input type="password" class="form-control" id="password" name="password" minlength="6" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" aria-describedby="passwordHelp" required>
              </div>
              <button type="submit" class="btn form-instructions form-button"><i class="fas fa-plus-circle"></i> Log In</button>
        </form>

        <div class="row">
          <div class="col-sm-12 form-instructions">
            <p>Not yet a member? <a href="{{ url_for('signup') }}"> Sign up!</a></p>
          </div>
        </div>

    </div>

    

{% endblock %}