{% extends "base.html" %}
{% block content %}

<!-- Page title -->
<h2 class="page-title">{{ username }}'s Profile</h2>
    
<div class="row g-0 form-container">
    <div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2">
        <h3 class="page-subtitle">My Reviews</h4>
            {% if reviews|length > 0 %}
                <div class="row justify-content-evenly">
                    {% for review in reviews if session.user|lower == review.created_by|lower %}
                        <div class="card restaurant-card-style" style="width: 18rem;">
                            <!-- Restaurant name -->
                            <h5 class="restaurant-card-title"> {{ review.restaurant_name }}</h5>
                            <!-- Restaurant rating -->
                            <p class="restaurant-card-text"> {{ review.restaurant_rating }}</p>
                            <!-- Restaurant review title -->
                            <p class="restaurant-card-text">
                                 {{ review.review_name }}</p>
                            <!-- Restaurant review body -->
                            <p class="restaurant-card-text">
                                 {{ review.review }}</p>
                            <!-- Edit and delete reviews -->
                            <div class="row justify-content-evenly">
                                <button type="button" class="btn btn-danger profile-btn col-sm-4">
                                    <i class="fas fa-trash"></i> Delete
                                </button>
                                <button type="button" class="btn btn-warning profile-btn col-sm-4">
                                    <i class="fas fa-user-edit"></i> Edit
                                </button>
                            </div>
                        </div>    
                    {% endfor %}
            {% else %}
                    <div>
                        <p>You haven't left any reviews yet</p>
                        <p>Why not <a href="#">leave a review?</a>
                        </p>
                    </div>
                </div>
            {% endif %}
    </div>
</div>

    
{% endblock %}