{% extends "base.html" %}
{% block content %}

<!-- Page title -->
<h2 class="page-title">{{ username }}'s Profile</h2>

<div class="row g-0 form-container">
    {% if session.user|lower != "admin"|lower %}
        <h3 class="profile-search-prompt">Hungry? Let's <a href="{{ url_for('restaurants') }}"> find somewhere to eat!</a></h3>
        <div class="row g-0">
            <h3 class="profile-search-prompt">Found a great new restaurant? 
                <a href="#">Let us know</a> <!--Link to contact page -->
                so we can add it to the list!
            </h3>
        </div>
        <div class="row g-0 align-items-center">
            <h3 class="page-subtitle">My Reviews</h3>
                <div class="row justify-content-center">
                    <a href="{{ url_for('add_review') }}" class="btn btn-success profile-btn col-sm-2">
                        <i class="fas fa-plus-circle"></i> 
                        Add a new review
                    </a>
                </div>
                <div class="row justify-content-center">
                    <h4 class="profile-subheading">Existing reviews</h4>
                </div>
                {% if reviews|length > 0 %}
                    <div class="row justify-content-evenly">
                        {% for review in reviews if session.user|lower == review.created_by|lower %}
                            <div class="card review-card-style" style="width: 18rem;">
                                <!-- Restaurant name -->
                                <h5 class="restaurant-card-title"> {{ review.restaurant_name }}</h5>
                                <!-- Restaurant rating -->
                                <p class="review-card-title">Rating: </p>
                                <p class="restaurant-card-text"> {{ review.restaurant_rating }} /5</p>
                                <!-- Restaurant review title -->
                                <p class="review-card-title">Review Title: </p>
                                <p class="restaurant-card-text">
                                    {{ review.review_name }}</p>
                                <!-- Restaurant review body -->
                                <p class="review-card-title">Review: </p>
                                <p class="restaurant-card-text">
                                    {{ review.review }}</p>
                                <!-- Edit and delete reviews -->
                                <div class="row justify-content-evenly">
                                    <div class="btn btn-danger profile-btn col-sm-5">
                                        <a href="{{ url_for('delete_review', review_id=review._id) }}"><i class="fas fa-trash"></i> Delete</a>
                                    </div>
                                    <div class="btn btn-warning profile-btn col-sm-5">
                                        <a href="{{ url_for('edit_review', review_id=review._id) }}"><i class="fas fa-pen"></i> Edit</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <div>
                        <div class="row g-0">
                            <p class="no-review-text">Sorry, you haven't left any reviews yet.
                                Why not <a href="{{ url_for('add_review') }}">leave a review?</a>
                            </p>
                        </div>
                    </div>
                {% endif %}
    {% else %}
        <input type="checkbox" class="btn-check" id="btn-check-3" autocomplete="off" disabled>
        <label class="btn page-subtitle" for="btn-check-3">Admin Account</label>

        {% if reviews|length > 0 %}
        <div class="row justify-content-evenly">
            {% for review in reviews %}
                <div class="card review-card-style" style="width: 18rem;">
                    <!-- Restaurant name -->
                    <h5 class="restaurant-card-title"> {{ review.restaurant_name }}</h5>
                    <!-- Restaurant rating -->
                    <p class="review-card-title">Rating: </p>
                    <p class="restaurant-card-text"> {{ review.restaurant_rating }} /5</p>
                    <!-- Restaurant review title -->
                    <p class="review-card-title">Review Title: </p>
                    <p class="restaurant-card-text">
                        {{ review.review_name }}</p>
                    <!-- Restaurant review body -->
                    <p class="review-card-title">Review: </p>
                    <p class="restaurant-card-text">
                        {{ review.review }}</p>
                    <!-- Edit and delete reviews -->
                    <div class="row justify-content-evenly">
                        <div class="btn btn-danger profile-btn col-sm-5">
                            <a href="{{ url_for('delete_review', review_id=review._id) }}"><i class="fas fa-trash"></i> Delete</a>
                        </div>
                        <div class="btn btn-warning profile-btn col-sm-5">
                            <a href="{{ url_for('edit_review', review_id=review._id) }}"><i class="fas fa-pen"></i> Edit</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}

    {% endif %}
        </div>
</div>

    
{% endblock %}