{% extends "base.html" %}
{% block content %}

<!-- Page title -->
<h2 class="page-title">{{ username }}'s Profile</h2>
    
<div class="row g-0 form-container">
    <h3 class="profile-search-prompt">Hungry? Let's <a href="{{ url_for('restaurants') }}"> find somewhere to eat!</a></h3>
    <div class="row g-0 align-items-center">
        <h3 class="page-subtitle">My Reviews</h3>
            <div class="row justify-content-center">
                <a href="{{ url_for('add_review') }}" class="btn btn-success profile-btn col-sm-2">
                    <i class="fas fa-plus-circle"></i> 
                    Add a new review
                </a>
            </div>
            <div class="row justify-content-center">
                <h4>Existing reviews</h4>
            </div>
            {% if reviews|length > 0 %}
                <div class="row justify-content-evenly">
                    {% for review in reviews if session.user|lower == review.created_by|lower %}
                        <div class="card restaurant-card-style" style="width: 18rem;">
                            <!-- Restaurant name -->
                            <h5 class="restaurant-card-title"> {{ review.restaurant_name }}</h5>
                            <!-- Restaurant rating -->
                            <p class="restaurant-card-text"> {{ review.restaurant_rating }}</p>
                            <!-- Restaurant review title -->
                            <p class="restaurant-card-text">
                                 {{ review.review_name }}</p>
                            <!-- Restaurant review body -->
                            <p class="restaurant-card-text">
                                 {{ review.review }}</p>
                            <!-- Edit and delete reviews -->
                            <div class="row justify-content-evenly">
                                <button type="button" class="btn btn-danger profile-btn col-sm-4">
                                    <i class="fas fa-trash"></i> Delete
                                </button>
                                <button type="button" class="btn btn-warning profile-btn col-sm-4">
                                    <i class="fas fa-user-edit"></i> Edit
                                </button>
                            </div>
                        </div>
                    {% endfor %}
            {% else %}
                    <div>
                        <p>You haven't left any reviews yet</p>
                        <p>Why not <a href="{{ url_for('add_review') }}">leave a review?</a>
                        </p>
                    </div>
                </div>
            {% endif %}
    </div>
</div>

    
{% endblock %}