{% extends "base.html" %}

{% block content %}

<div class="row g-0 form-container">
    
    <div class="row g-0">
        <!-- Restaurant name -->
        <h2 class="page-title">{{ restaurant.name }}</h2>
    </div>
    
    <div class="row g-0 ">
        <!--LEFT COLUMN-->
         <!-- Restaurant image -->
        <div class="col-sm-12 col-md-4 view-rest-img-col">
            <img src="{{ restaurant.restaurant_img_url }}" class="card-img-top img-size img-fluid img-margins" onerror="this.src='static/images/veggie_bowl.jpeg'" alt="{{ restaurant.name }}">
        </div>
        <!--MIDDLE COLUMN-->
        <div class="col-sm-12 col-md-4 view-rest-text-col d-flex align-content-between">
            <div class="row g-0">
                <!-- Restaurant summary -->
                <div class="row g-0 restaurant-scoop-card">
                    <h6 class="restaurant-card-title view-rest-scoop-title">Here's The Scoop...</h6>
                    <p class="restaurant-card-text restaurant-card-scoop-txt view-rest-text"> {{ restaurant.summary }}</p>
                </div>
                <!-- Restaurant details -->
                <div class="row g-0 restaurant-info-card info-card-margin">
                    <!-- Restaurant price range -->
                    <p class="restaurant-card-text">
                        <i class="fas fa-money-bill rest-card-spacing"></i> {{ restaurant.price_range }}</p>
                    <!-- Restaurant cuisine -->
                    <p class="restaurant-card-text">
                        <i class="fas fa-utensils rest-card-spacing"></i> {{ restaurant.cuisine }}</p>
                    <!-- Restaurant opening times -->
                    <p class="rest-card-text-btm">
                        <i class="fas fa-clock rest-card-spacing"></i> {{ restaurant.open_times }}</p>
                </div>
            </div>
        </div>
        <!--RIGHT COLUMN-->
        <div class="col-sm-12 col-md-4">
            <div class="row g-0 restaurant-contact-container">
                <div class="row g-0 restaurant-contact-contents">
                    <!-- Restaurant website address -->
                    <p class="restaurant-card-text">
                        {{ restaurant.website }}
                    </p>
                    <!-- Restaurant telephone number -->
                    <p class="restaurant-card-text">
                        <i class="fas fa-phone-alt rest-card-spacing"></i> {{ restaurant.phone_number }}
                    </p>
                    <!-- Restaurant address -->
                    <p class="restaurant-card-text">
                        <i class="fas fa-map-marker-alt rest-card-spacing"></i> {{ restaurant.address }}
                    </p>
                    <!-- Restaurant social media - FUTURE FEATURE SOCIALS TO BE STORED/ACCESSED FROM DB -->
                    <ul class="list-inline view-rest-socials">
                        <li class="list-inline-item">
                            <a class="socials" href="https://www.facebook.com" target="_blank">
                                <i class="fab fa-facebook-square"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="socials" href="https://www.instagram.com" target="_blank">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="socials" href="https://www.twitter.com" >
                                <i class="fab fa-twitter-square"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>  
        </div>
    </div>
    <!--USER REVIEWS CONTAINER-->
    <div class="row g-0 rest-reviews-container">
        <div class="col-sm-12 view-rest-reviews-card">
            <!--If user=admin allows them to edit or delete the restaurants information-->
            {% if session.user|lower ==  "admin" %}
                {% include "view_rest_admin.html" %}
            {% else %}
                {% include "view_rest_user.html" %}
            {% endif %}
        </div>
    
    </div>
</div>
{% endblock %}