{% extends "base.html" %}

{% block content %}

<div class="row g-0 form-container">
    <div class="row g-0">
        <h2 class="page-title">{{ restaurant.name }}</h2>
    </div>
    
    <div class="row g-0">
        <div class="col-sm-4">
            <img src="{{ restaurant.restaurant_img_url }}" class="card-img-top img-size img-fluid img-margins" onerror="this.src='static/images/veggie_bowl.jpeg'" 
                        alt="{{ restaurant.name }}">
        </div>
        <div class="col-sm-4">
            <div class="row g-0">
                <!-- Restaurant summary -->
                <div class="row g-0 restaurant-scoop-card">
                    <h6 class="restaurant-card-title">Here's The Scoop...</h6>
                    <p class="restaurant-card-text"> {{ restaurant.summary }}</p>
                </div>
                <div class="row g-0 restaurant-contact-card">
                    <!-- Restaurant website address -->
                    <p class="restaurant-card-text"> {{ restaurant.website }}</p>
                    <!-- Restaurant telephone number -->
                    <p class="restaurant-card-text">
                        <i class="fas fa-phone-alt"></i> {{ restaurant.phone_number }}</p>
                    <!-- Restaurant address -->
                    <p class="restaurant-card-text">
                        <i class="fas fa-map-marker-alt"></i> {{ restaurant.address }}</p>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a class="socials" href="#">
                                <i class="fab fa-facebook-square"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="socials" href="#">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="socials" href="#">
                                <i class="fab fa-twitter-square"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row g-0 restaurant-info-card">
                <!-- Restaurant price range -->
                <p class="restaurant-card-text">
                    <i class="fas fa-money-bill"></i> {{ restaurant.price_range }}</p>
                <!-- Restaurant cuisine -->
                <p class="restaurant-card-text">
                    <i class="fas fa-utensils"></i> {{ restaurant.cuisine }}</p>
                <!-- Restaurant opening times -->
                <p class="restaurant-card-text">
                    <i class="fas fa-clock"></i> {{ restaurant.open_times }}</p>
            </div>
        </div>
    </div>

    <div class="row g-0">
        <div class="col-sm-12 restaurant-reviews-card">
        <div class="row g-0">
            <h6 class="restaurant-card-title">Reviews</h6>
        </div>
        <div class="row g-0">
            {% for review in reviews %}
                
                {% if restaurant.name == review.restaurant_name %}
                <div class="col-sm-9 restaurant-review-info">
                    <p><i class="fas fa-user"></i> {{ review.created_by }}</p>
                    <p><i class="fas fa-star"></i> {{ review.restaurant_rating }}</p>
                    <p><i class="fas fa-pen-square"></i> {{ review.review_name }}</p>
                    <p><i class="fas fa-align-left"></i> {{ review.review }}</p>
                </div>
                    {% if review.created_by == session.user|lower %}
                    <div class="col-sm-3">
                        <div class="row justify-content-evenly">
                            <div class="btn btn-danger profile-btn col-sm-5">
                                <a href="{{ url_for('delete_review', review_id=review._id) }}"><i class="fas fa-trash"></i> Delete</a>
                            </div>
                            <div class="btn btn-warning restaurant-edit-btn col-sm-5">
                                <a href="{{ url_for('edit_review', review_id=review._id) }}"><i class="fas fa-pen"></i> Edit</a>
                            </div>
                        </div>
                    </div>
                    {% elif session.user|lower ==  "admin" %}
                        <div class="col-sm-3">
                            <div class="row justify-content-evenly">
                                <div class="btn btn-danger profile-btn col-sm-5">
                                    <a href="{{ url_for('delete_review', review_id=review._id) }}"><i class="fas fa-trash"></i> Delete</a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
                <br>
            {% endfor %}
        </div>
        </div>
    </div>
    
    

</div>
{% endblock %}